@import "../styles/variables";

.cardRow {
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 400px) {
  .cardRow {
    align-items: center;
    flex-direction: column;
  }
}

.card {
  font-size: 16px;
  height: 300px;
  width: 220px;
  border-radius: 20px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  margin: 12px;
  padding: 12px;
  box-sizing: border-box;
  text-align: left;
  &.white {
    background-color: $white;
    color: $black;
  }
  &.black {
    background-color: $black;
    color: $white;
  }
}
